<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict/>
	</array>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1090259721793-b90o5m9645bpfnaa0bol9khgergf33ta</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>1090259721793-b90o5m9645bpfnaa0bol9khgergf33ta.apps.googleusercontent.com</string>
</dict>
</plist>
